@model ToniEmprega.Models.ValidacaoIdentidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ValidacaoIdentidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoValidacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoValidacao.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaminhoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaminhoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoUtilizador.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDocumento.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSubmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSubmissao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
