@model IEnumerable<ToniEmprega.Models.ValidacaoIdentidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoValidacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaminhoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoUtilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSubmissao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoValidacao.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaminhoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoUtilizador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDocumento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSubmissao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
